<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Cursos Matriculados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400&display=swap" rel="stylesheet">
  </head>

  <ion-content>
    <div class="categoria">ANALISTA PROGRAMADOR COMPUTACIONAL</div>
    <ion-list>
      <ion-item *ngFor="let curso of cursos">
        <ion-label>
          <h2>ID: {{ curso.id }} - {{ curso.nombre }}</h2>
          <p>{{ curso.descripcion }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  
