/* Estilo para el contenedor de la cámara */
.scanner-placeholder {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: transparent;
}

#camera-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
}

.scan-button {
  margin-top: 20px;
}

