<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Boton de regreso -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="icon-container">
      <img src="assets/img/logo.png" alt="logo-registrapp" class="centered-icon">
    </div>
    <ion-list>
      <ion-list>
        <ion-item lines="none" class="custom-item">
          <h1 class="center-text">Iniciar sesión</h1>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" placeholder="" [(ngModel)]="username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" placeholder="" [(ngModel)]="password"></ion-input>
        </ion-item>

        <div class="checkbox-container">
          <ion-checkbox>Recordar contraseña</ion-checkbox>
        </div>

        <div class="link-container">
          <a routerLink="/password-recovery" class="classic-anchor">¿Olvidaste tu contraseña?</a>
        </div>

        <div class="btn-container">
          <ion-button size="default" id="btn-ingresar" shape="round" color="warning" (click)="login()">
            Ingresar
          </ion-button>
        </div>

      </ion-list>
    </ion-list>
  </div>
</ion-content>