#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
  z-index: 1;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.link-container {
  margin-top: 10px;
  text-align: center;
}

.checkbox-container {
  margin-top: 10px;
  text-align: center;
}

.custom-item {
  --inner-padding-end: 0px;
  --inner-padding-start: 0px;
  display: flex;
  justify-content: center;
  text-align: center;
  --background: transparent !important;
}

.center-text {
  width: 100%;
  text-align: center;
}

// Asigna transparencia a los elementos en ion-list
ion-list {
  background: transparent !important; // Asegura que la lista sea transparente

  ion-item {
    --background: transparent !important; // Hace que los elementos de la lista sean transparentes

    ion-label,
    ion-input {
      background: transparent !important; // Hace que los inputs y labels sean transparentes
    }
  }
}

/* Establece el fondo de toda la página */
ion-content {
  position: relative;
  height: 100vh; /* Asegura que el contenedor cubra toda la altura de la ventana */
  --overflow: hidden; 
  padding: 0; /* Elimina el padding por defecto */
  margin: 0; /* Elimina el margin por defecto */
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/img/wave-background.svg');
  background-size: cover; /* Ajusta el tamaño para cubrir el contenedor */
  background-repeat: no-repeat;
  background-position: top center;
  z-index: -1; /* Asegura que el fondo quede detrás del contenido */
}

.form-container{
  margin-top: -5%;
}