<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-text>Generar Código QR</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Área del Generador de QR -->
  <ion-card class="qr-card">
    <ion-card-header color="warning">
      <ion-card-title class="ion-text-center">
        <ion-icon name="qr-code-outline" class="ion-margin-end"></ion-icon>
        <strong>Código QR</strong>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <div *ngIf="codigoQr" class="qr-container">
        <!-- Componente qrcode para mostrar el código QR -->
        <qrcode [qrdata]="codigoQr" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        
        <!-- Mostrar el código como texto debajo del QR -->
        <div class="qr-text">
          <h2>{{codigoQr}}</h2>
        </div>
      </div>

      <div *ngIf="!codigoQr" class="no-qrcode-message">
        <p>No se ha recibido el código QR.</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
