<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-text>Generar Código QR</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="codigoQr">
    <h2>Código QR para la clase</h2>
    <p>El código QR para la clase es: {{ codigoQr }}</p>
    <!-- Aquí puedes agregar la lógica para generar y mostrar el código QR -->
  </div>
</ion-content>
