<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Boton de regreso -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background-container"></div> <!-- Fondo SVG -->
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="icon-container">
      <img src="assets/img/logo.png" alt="logo-registrapp" class="centered-icon">
    </div>

    <ion-list>
      <ion-list>
        <ion-item lines="none" class="custom-item">
          <h1 class="center-text">Recuperar contraseña</h1>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">Ingrese su E-mail</ion-label>
          <ion-input type="email" placeholder="" [(ngModel)]="correo"></ion-input>
        </ion-item>

        <ion-button size="default" id="btn-recuperar" shape="round" color="warning" (click)="recoverPassword()">
          Recuperar contraseña
        </ion-button>

      </ion-list>
    </ion-list>
  </div>
</ion-content>
